[submodule "test/util"]
	path = test/util
	url = https://github.com/dojo/util.git
[submodule "support/aop"]
	path = support/aop
	url = git@github.com:briancavalier/aop.js.git
[submodule "test/curl"]
	path = test/curl
	url = git@github.com:unscriptable/curl.git
[submodule "support/sizzle"]
	path = support/sizzle
	url = https://github.com/kriszyp/sizzle.git
[submodule "support/when"]
	path = support/when
	url = git://github.com/briancavalier/when.js.git
